.signup__page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .signup__contents{
    width: 360px;
    height: 600px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.signup__contents .header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px;
}
.signup__contents .header .title{
    width: 100%;
    font-size: 20px;
text-align: center;
    color: #1A1A1A;
}
.signup__contents .header img{
    width: 20px;
}
.signup__contents .single__input{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px 0;
}
.single__input label{
    font-size: 14px;
    margin-bottom: 2px;
}
.single__input input{
    width: 100%;
    padding: 9px;
    outline: none;
    border: 1px solid #1A1A1A;
    border-radius: 20px;
    background-color: transparent;
}
.signup__contents span{
    width: 208px;
    color: #1A1A1A;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
}

.signup__contents .startButton{
    background-color: #B752F1;
    border: none;
    outline: none;
    width: 85%;
    color: #fff;
    padding: 10px 94px 10px 94px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
  transition: .2s;
  margin: 15px 0;
  text-align: center;
  text-decoration: none;
}
.signup__contents .startButton:hover{
    background-color: #9643c7;
}
.signup__contents a{
    font-size: 14px;
    text-decoration: underline;
    color: #1A1A1A;
    cursor: pointer;
}
.signup__contents .forgot{
    color: #525050;
    margin-right: -15px;
    align-self: flex-end;
    cursor: pointer;
  margin-top: 10px;
}